<template>
  <div class="w-full flex flex-row justify-center items-center">
    <div
      class="md:w-1/4 w-full bg-gradient-to-r from-[#AECDFF] to-[#5896FD] min-h-screen overflow-auto flex flex-col items-center py-4">
      <p class="text-xl font-bold text-white m-0 p-0">Movies Collection</p>
      <hr class="w-full bg-white mt-4 h-0.5" />
      <div class="w-full px-8 flex flex-col gap-2">
        <input v-model="search" @input="onSearch($event)" placeholder="Search by title ..."
          class="mt-8 mb-4 py-2 px-4 rounded-lg w-full focus:outline-none" />
        <div v-for="movie in filterMovies">
          <Movies :movie="movie" />
        </div>
      </div>

      <Icon name="ep:circle-plus-filled" color="white" size="70"
        class="self-end mx-8 mt-2 cursor-pointer hover:scale-125 transition-all" @click="navigateTo('/details/1')" />
    </div>
  </div>
</template>

<script setup>
import useMovies from '../composables/useMovies';

const { movies } = useMovies();
console.log(movies.value);

const search = ref('');
const filterMovies = ref([...movies.value]);

const onSearch = (event) => {
  filterMovies.value = movies.value.filter((movie) => {
    return movie.title.toLowerCase().includes(event.target.value.toLowerCase());
  });
}

useHead({
  title: 'Movie World'
})
</script>