<template>
  <div class="w-full h-screen flex flex-row justify-center items-center">
    <div class="md:w-1/4 sm:w-full bg-gradient-to-r from-[#AECDFF] to-[#5896FD] h-full flex flex-col items-center py-4">
      <div class="w-full flex flex-row justify-end gap-2 px-8">
        <p v-if="route.params.id !== '1'"
          class="text-white font-bold bg-[#BE3144] px-4 py-1 cursor-pointer hover:scale-125 transition-all"
          @click="doDeleteMovie()">D</p>
        <p class="text-white font-bold bg-[#AEDF6E] px-4 py-1 cursor-pointer hover:scale-125 transition-all"
          @click="handleMovie({ id: selectedMovie?.id, title, director, summary, genres: selectedGenre })">
          S</p>
      </div>
      <hr class="w-full bg-white mt-4 h-0.5" />
      <div class="flex flex-col items-center gap-4 w-full px-8 mt-10 justify-center">
        <input v-model="title" placeholder="Movie Title" class="py-2 px-4 rounded-lg w-full focus:outline-none" />
        <input v-model="director" placeholder="Movie Director" class="py-2 px-4 rounded-lg w-full focus:outline-none" />
        <textarea v-model="summary" placeholder="Movie Summary"
          class="py-2 px-4 rounded-lg h-40 w-full focus:outline-none" />
        <div class="w-full flex flex-row items-center gap-4 flex-wrap mt-10 justify-center">
          <button v-for="genre in genres" @click="chooseGenre(genre)"
            class="text-base hover:scale-125 transition-all px-4 w-28 text-center py-1 rounded-full font-semibold self-end"
            :class="selectedGenre === genre ? 'bg-[#AEDF6E]' : 'bg-white'">{{
              genre }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { uuid } from 'vue-uuid';
const route = useRoute();

const { addMovie, deleteMovie, updateMovie, movies } = useMovies();

const selectedGenre = ref('Action');
const selectedMovie = ref(movies.value.find((movie) => movie.id === route.params.id));
const title = ref(selectedMovie.value?.title || '');
const director = ref(selectedMovie.value?.director || '');
const summary = ref(selectedMovie.value?.summary || '');
const movieGenre = ref(selectedMovie.value?.genre || selectedGenre);

const genres = ['Action', 'Animation', 'Sci-Fi', 'Horror', 'Drama'];

const chooseGenre = (genre) => {
  movieGenre.value = genre;
  selectedGenre.value = genre;
}

const handleMovie = (movie) => {
  if (route.params.id === '1') {
    addMovie({ id: uuid.v4(), title: title.value, director: director.value, summary: summary.value, genres: movieGenre.value });
  } else {
    updateMovie(movie);
  }
  navigateTo('/');
}

const doDeleteMovie = () => {
  deleteMovie(selectedMovie.value.id);
  navigateTo('/');
}

useHead({
  title: 'Movie Detail'
})
</script>