<template>
  <div class="flex flex-row w-full h-20 cursor-pointer hover:scale-105 transition-all" :key="movie.id"
    @click="navigateTo(`/details/${movie.id}`)">
    <div class="h-full w-2" :class="computedBgClass"></div>
    <div class="w-full h-full rounded-r-xl px-4 py-2 flex flex-row justify-between items-center"
      :class="computedMainBgClass">
      <div>
        <p class="text-base font-bold">{{ movie.title }}</p>
        <p class="text-base">{{ movie.director }}</p>
      </div>
      <p class="text-base px-4 w-28 text-center py-1 rounded-full font-semibold text-white self-end"
        :class="computedBgClass">{{
          movie.genres }}
      </p>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';

const { movie } = defineProps(['movie']);
const computedBgClass = computed(() => ({
  "bg-[#FE9607]": movie.genres === "Action",
  "bg-[#1587FF]": movie.genres === "Animation",
  "bg-[#8000DA]": movie.genres === "Sci-Fi",
  "bg-[#BE3144]": movie.genres === "Horror",
  "bg-[#AEDF6E]": movie.genres === "Drama",
}));

const computedMainBgClass = computed(() => ({
  "bg-[#FFF0D9]": movie.genres === "Action",
  "bg-[#CDEBFB]": movie.genres === "Animation",
  "bg-[#F4D9FA]": movie.genres === "Sci-Fi",
  "bg-[#F1CACF]": movie.genres === "Horror",
  "bg-[#DCF1C2]": movie.genres === "Drama",
}));
</script>

<style lang="scss" scoped></style>